.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);

}

.modal-content {
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 0;
    width: 1028px;
    height: 444px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

 .candynar-close {
    color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

/*modal content*/
.candybar__order-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modal_image{
    display: block;
    width: 287px;
    height: 277px;
    margin-top: 73px;
}
.candybar__order-modal-desc{
    margin-top: 73px;  
    width: 460px;
}
.modal__title{
    font-family: Caveat;
    font-size: 50px;
    line-height: 63px;
    color: #7D0A41;
    margin-bottom: 20px;
}
.modal__label{
    font-family: Kurale;
    font-size: 20px;
    line-height: 38px;
    color: #333333;
    margin-right: 53px;
}
.modal__select, .modal__option{
    background: #FCF5F4;
    border-radius: 5px;
    width: 286px;
    height: 40px;
    font-family: Kurale;
    font-size: 16px;
    line-height: 38px;
    color: #4F4F4F;
    border: 0;
}
.candybar__modal-quantity{
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}
.candybar__modal-quantity-desc{
    font-family: Kurale;
    display: block;
    margin-right: 50px;
}
.candybar__modal-quantity-value{
    width: 80px;
    height: 40px;
    background: #FCF5F4;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    position: relative;
    top: -10px;
    margin-right: 20px;
}
.quantity-value-minus, .quantity-value, .quantity-value-plus{
    display: block;
}

.order-link{
    text-decoration: none;
    color: #333333;
}

.candybar-order__price{
    margin-top: 4px;
    margin-left: 138px;
    margin-bottom: 40px;
}
.candybar__modal-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*
.candybar__modal-button1{
    font-family: Kurale;
    font-size: 20px;
    line-height: 38px;
    text-decoration-line: underline;
    color: #828282;
}
*/
.candybar__modal-button1{
    font-family: Kurale;
    font-size: 20px;
    line-height: 38px;
    color: #828282;
    position: relative;
    cursor: pointer;
}
.candybar__modal-button1::before{
    display: block;
    content: '';
    width: 200px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 4px;
    background: #828282;
}

.candybar__modal-button2{
    display: block;
    font-family: Kurale;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    width: 200px;
    height: 40px;
    background: #DD978F;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.candybar__modal-button2-active{
    color: #27AE60;
    width: 236px;
    height: 40px;
    background: none;
    border-radius: none;
}
.quantity-value-minus, .quantity-value-plus,
.quantity-value-minus1, .quantity-value-plus1{
    cursor: pointer;
}
@media screen and (max-width: 770px){
    .modal-content{
        width: 768px;
        height: 468px;
    }
    .modal_image{
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 440px){
    .modal-content{
        width: 316px;
        height: 826px;
        top: -38px;
        border-radius: 0;
    }
    .candybar__order-modal{
        z-index: 3;
    }
/*
    .products__decoration-candybar-item1,
    .products__decoration-candybar-item2,
    .products__decoration-candybar-item3,
    .products__decoration-candybar-item4{
        display: none;
    }
*/
    .candybar__order-modal-desc{
        margin-left: 18px;
    }
    .modal_image{
        position: absolute;
        width: 287px;
        height: 277px;
        top: 85px;
    }
    .modal-lg{
        top: 145px;
    }
    .modal__title{
        text-align: center;
        margin-bottom: 320px;
    }
    .modal__label{
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    .candybar__modal-quantity{
        margin-bottom: 30px;
    }
    .candybar__modal-quantity-desc{
        font-size: 18px;
        line-height: 27px;
        margin-right: 20px;
    }
    .candybar__modal-quantity-value{
        font-size: 20px;
        line-height: 38px;
        font-weight: bold;
    }
    .products__card-price{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        line-height: 38px;
    }
    .candybar__modal-buttons{
        margin: 0 auto;
        text-align: center;
    }
    .candybar__modal-button1,
    .candybar__modal-button2{
        margin: 0 auto 30px;
    }
    .candynar-close{
        top: 20px;
        right: 20px;
    }
}